{% extends 'operaciones/base.html' %}
{% load static %}
{% block titulos %}
<div class="header-modulo">
    <div class="header-modulo-container">
        <div class="header-title-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-2">
                    <li class="breadcrumb-item">
                        <a href="{% url 'operaciones:index' %}" class="text-decoration-none">
                            Inicio
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Orden de Trabajo</li>
                </ol>
            </nav>
            <h1 class="h2 fw-bold mb-0">ORDEN DE TRABAJO</h1>
        </div>
            <button class="btn btn-outline-secondary" id="btn-panel-filtros">
                <i class="fas fa-filter me-2"></i>
                Filtros
            </button>
    </div>
</div>
{%endblock%}
{% block content %}
<div class="bm-content">
    <div class="bm-cont-elementos">
        <div class="bm-cont-elementos-body">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-text bg-light border-end-0">
                            <i class="fas fa-search"></i>
                        </span>
                        <input type="text" class="form-control border-start-0" id="filtro-buscar" placeholder="Enter para filtrar">
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div id="select-length"></div>
                </div>
            </div>
            <div class="nota mt-1">
                <i class="fas fa-info-circle text-info text-16px"></i>
                <p class="m-0 text-12px">
                    Las <b>filas</b> con el siguiente color <span class="icono-celda-editable" style="background-color: #f9ffe3";></span> representan las OT´s creadas recientemente en espera de término de configuración inicial.
                </p>
            </div>
            <!-- Tabla -->
            <table id="tabla" class="table table-hover dataTable-width-100">
            </table>
        </div>
    </div>
</div>

<!-- Panel de Filtros con Offcanvas de Bootstrap 5 -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="panelFiltros">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Filtros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form id="form-filtros">
            <div class="mb-3">
                <label class="form-label">Responsable proyecto</label>
                <select class="form-select" id="id_responsable_proyecto">
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Cliente</label>
                <select class="form-select" id="id_cliente">
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Año</label>
                <select class="form-select" id="anio">
                    <option value="" selected disabled>Seleccione un año</option>
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Estatus</label>
                <select class="form-select" id="estatus">
                    <option value="" selected disabled>Seleccione un estatus</option>
                    <option value="5">ASIGNADA</option>
                    <option value="8">EN EJECUCION</option>
                    <option value="7">DIFERIDA</option>
                    <option value="9">SUSPENDIDA</option>
                    <option value="10">TERMINADA</option>
                    <option value="6">CANCELADA</option>
                    <option value="11">POR CANCELAR</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Tipo</label>
                <select class="form-select" id="tipo">
                    <option value="" selected disabled>Seleccione un tipo</option>
                    {% comment %} <option value="1">PTE</option> {% endcomment %}
                    <option value="4">INICIAL</option>
                    <option value="5">REPROGRAMACION</option>
                </select>
            </div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary" id="aplicar-filtros">
                    <i class="fas fa-check me-2"></i>Aplicar Filtros
                </button>
                <button type="button" class="btn btn-outline-secondary" id="limpiar-filtros">
                    <i class="fas fa-eraser me-2"></i>Limpiar Filtros
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Modal para crear PTE -->
<div class="modal fade" id="modalCrearOT" tabindex="-1" aria-labelledby="modalCrearOTLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearOTLabel">Crear nueva OT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCrearOT">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Id oculta -->
                        <input type="hidden" id="ot_id" name="id">
                        <div class="col-md-11">
                            <div class="mb-3">
                                <label for="descripcion_trabajo" class="form-label">
                                    Descripción del Trabajo <span class="text-danger">*</span>
                                </label>
                                <textarea class="form-control" id="descripcion_trabajo" name="descripcion_trabajo" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="mb-3">
                                <label for="plazo_dias" class="form-label">Plazo(días)</label>
                                <input type="text" class="form-control" id="plazo_dias" name="plazo_dias" style="height: 62px;" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="orden_trabajo" class="form-label">Folio OT</label>
                                <input type="text" class="form-control" id="orden_trabajo" name="orden_trabajo" required>
                            </div>
                            <div class="mb-3">
                                <label for="responsable_cliente" class="form-label">Responsable del cliente</label>
                                <input type="text" class="form-control" placeholder="Ingrese el nombre del representante" id="responsable_cliente" name="responsable_cliente" required>
                            </div>
                            <div class="mb-3" hidden>
                                <label for="id_embarcacion" class="form-label">Embarcacion <span class="text-danger">*</span></label>
                                <select class="form-select" id="id_embarcacion" name="id_embarcacion" required>
                                </select>
                            </div>
                            <div class="mb-3" hidden>
                                <label for="id_patio" class="form-label">Patio <span class="text-danger">*</span></label>
                                <select class="form-select" id="id_patio" name="id_patio" required>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fecha_inicio_real" class="form-label">Fecha de inicio real</label>
                                <input type="date" class="form-control" id="fecha_inicio_real" name="fecha_inicio_real">
                            </div>
                            <div class="mb-3">
                                <label for="responsable_proyecto" class="form-label">Responsable del Proyecto <span class="text-danger">*</span></label>
                                <select class="form-select" id="responsable_proyecto" name="responsable_proyecto">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="oficio_ot" class="form-label">Oficio OT</label>
                                <input type="text" class="form-control" id="oficio_ot" name="oficio_ot" placeholder="SIN ASIGNACION">
                            </div>
                            <div class="mb-3">
                                <label for="id_frente" class="form-label">Frente <span class="text-danger">*</span></label>
                                <select class="form-select" id="id_frente" name="id_frente" required>
                                    <option value="" selected disabled>Seleccione un frente de trabajo</option>
                                    <option value="1">BARCO</option>
                                    <option value="2">TIERRA</option>
                                    <option value="4">CP / PS</option>
                                </select>
                            </div>
                            <div class="mb-3" hidden>
                                <label for="id_plataforma" class="form-label">Plataforma <span class="text-danger">*</span></label>
                                <select class="form-select" id="id_plataforma" name="id_plataforma" required>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fecha_termino_real" class="form-label">Fecha de termino real</label>
                                <input type="date" class="form-control" id="fecha_termino_real" name="fecha_termino_real">
                            </div>
                            <div class="mb-3" hidden>
                                <label for="ot_principal" class="form-label">OT a reprogramar</label>
                                <select class="form-select" id="ot_principal" name="ot_principal" disabled>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="monto_mxn" class="form-label">Monto MXN</label>
                                <div class="input-group mt-1">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control decimal-input" id="monto_mxn" name="monto_mxn" 
                                        pattern="[0-9]*\.?[0-9]*" placeholder="0.000000">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="fecha_inicio_programado" class="form-label">Fecha de inicio programado</label>
                                <input type="date" class="form-control" id="fecha_inicio_programado" name="fecha_inicio_programado">
                            </div>
                            <div class="mb-3">
                                <label for="fecha_termino_programado" class="form-label">Fecha de termino programado</label>
                                <input type="date" class="form-control" id="fecha_termino_programado" name="fecha_termino_programado">
                            </div>
                            <div class="mb-3" hidden>
                                <label for="id_intercom" class="form-label">Intercom <span class="text-danger">*</span></label>
                                <select class="form-select" id="id_intercom" name="id_intercom" required>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="id_tipo" class="form-label">Tipo <span class="text-danger">*</span></label>
                                <select class="form-select" id="id_tipo" name="id_tipo" required>
                                    <option value="" selected disabled>Seleccione un tipo</option>
                                    <option value="4">INICIAL</option>
                                    <option value="5">REPROGRAMACION</option>
                                </select>
                            </div>
                            <div class="mb-3" hidden>
                                <label for="num_reprogramacion" class="form-label">Numero de reprogramacion</label>
                                <input type="number" class="form-control" id="num_reprogramacion" name="num_reprogramacion">
                            </div>
                            <div class="mb-3">
                                <label for="monto_usd" class="form-label">Monto USD</label>
                                <div class="input-group mt-1">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control decimal-input" id="monto_usd" name="monto_usd"
                                        pattern="[0-9]*\.?[0-9]*" placeholder="0.000000">
                                </div>
                            </div>
                        </div>
                        <!-- Comentario General -->
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="comentario_general" class="form-label">Comentario</label>
                                <textarea class="form-control" id="comentario_general" name="comentario_general" rows="2"></textarea>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardarOT">
                    <i class="fas fa-save me-2"></i>Guardar OT
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para subir archivo a pasos de PTE -->
<div class="modal fade" id="modalSubirArchivo" tabindex="-1" aria-labelledby="modalSubirArchivoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSubirArchivoLabel">Subir archivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formSubirArchivo">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="enlaceArchivoOt" class="form-label">
                            Enlace del archivo
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="enlaceArchivoOt" name="enlaceArchivoOt" placeholder="Pega el enlace aquí..." required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="guardarEnlaceArchivo()">
                    <i class="fas fa-save me-2"></i>Guardar
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'operaciones/js/modulos/ot/lista_ot.js'%}?v=1.0.0"></script>

<script>
    var urlDatatable = "{% url 'operaciones:datatable_ot' %}";
    var urlDatatableDetalle = "{% url 'operaciones:datatable_pte_detalle' %}";
    var urlObtenerPasos = "{% url 'operaciones:obtener_pasos_pte' %}";
    var urlObtenerOTPrincipal = "{% url 'operaciones:obtener_ots_principales' %}";
    var urlCambiarEstatusOT = "{% url 'operaciones:cambiar_estatus_ot' %}";
    var urlCrearPTE = "{% url 'operaciones:crear_pte' %}";
    var urlEditarOT = "{% url 'operaciones:editar_ot' %}";
    var urlObtenerResponsables = "{% url 'operaciones:obtener_responsables_proyecto' %}";
    var urlCambiarEstatusPaso = "{% url 'operaciones:cambiar_estatus_paso' %}";
    var urlObtenerDatos = "{% url 'operaciones:obtener_datos_ot' %}";
    var urlEliminarOT = "{% url 'operaciones:eliminar_ot' %}";
    var urlCrearOT = "{% url 'operaciones:crear_ot_desde_pte' %}";
    var urlObtenerSitiosPorFrente = "{% url 'operaciones:obtener_sitios_por_frente' %}";
    var urlDatatableDetalleOT = "{% url 'operaciones:datatable_ot_detalle' %}";
    var urlCambiarEstatusPaso = "{% url 'operaciones:cambiar_estatus_paso_ot' %}";
    var urlActualizarFecha="{% url 'operaciones:actualizar_fecha_ot' %}";
    var urlGuardarArchivo  = "{% url 'operaciones:guardar_archivo_ot' %}";

</script>
{% endblock %}