__pycache__/
pycache/
*.pyc
*.py[cod]
*.pyo
*.pyd
venv/
env/
ENV/
.env
db.sqlite3
backups_bd.py
media/
staticfiles/
global-bundle.pem
*.pem
*.key
*.cert
ssl/
certificates/
*.mpp
cronogramas/
operaciones/cronogramas/
operaciones/mpps/
mpps/
operaciones/anexos_ot/